<h2><u><%= @movie.concat_movie_details %></u></h2>

<%= form_with url: "/movies/#{@movie.id}", method: :patch, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<p><u>Cast</u>:</p>
<ul>
  <% @ordered_actors.each do |actor| %>
    <li>
      <%= actor.name %><br>
      <%= "Age: #{actor.age}" %>
    </li>
  <% end %>
</ul>

<p><u>Average Age of Cast</u>: <%= "#{@average_age_of_cast} years" %></p>
