<%= @movie.title %>
<%= @movie.creation_year %>
<%= @movie.genre %>
<%= @movie.actor_age_avg %>

<% @employee.actors_sorted.each do |actor| %>
  <div id="actor-<%= actor.id %>">
    <%= actor.name %>
    <%= actor.age %>
  </div>
<% end %>