<h1>Title: <%= @movie.title %></h1><br>
<h2>Creation Year: <%= @movie.creation_year %><br>
Genre: <%= @movie.genre %></h2>

<h3>All Actors:</h3>
<% @movie.sort_actors_by_age.each do |actor| %>
  <%= actor.name %><br>
<% end %>

<h3>Average Age: <%= @movie.average_age %>

<%= form_with url: "/movies/#{@movie.id}", method: :patch, data: { turbo: false } do |form| %>
  <%= form.label "Add an actor to this movie" %>
  <%= form.text_field :actor_id %>
  <%= form.submit "Submit" %>
<% end %>