<h2>Studios</h2>

<% @studios.each do |studio| %>
  <div id="<%= studio.name %>">
  <h3><%= studio.name %> <br> </h3>
  <%= "Location: #{studio.location}" %> <br>
  <h4>Movies:</h4>
  <% studio.movies.each do |movie| %>
    <div id="<%= movie.title %>">
    <h5><%= movie.title %> </h5>
    <%= "Year of Creation: #{movie.creation_year}" %> <br>
    <%= "Genre: #{movie.genre}" %> <br>
    </div>
  <% end %>
  </div>
  <br>
<% end %>