<h2>List of Studios</h2>
<% @studios.each do |s| %>
<h3><%= link_to "#{s.name}", "/studios/#{s.id}" %></h3>
<p><b>Location: </b><%= s.location %></p>
<p><b>Movies: </b><br><% s.movies.each do |m|%>
                      <%= link_to "#{m.title}", "/movies/#{m.id}" %> | 
                      <%= m.creation_year %> | Genre: <%= m.genre %>  <br>  
                      <% end%>
<br>
<% end%>